@import '../../../app/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.label {
  font-size: 0.9rem;
  color: $color-muted;
}

.select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-size: 1rem;
}
